@import '@/styles/breakpoints';

.body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: 0.01em;
}

@include large {
    .body {
        font-size: 1.6rem;
    }
}
